$xs-breakpoint: 718px;
$sm-breakpoint: 1024px;
$md-breakpoint: 1439px;
$lg-breakpoint: 1920px;

.container {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: $xs-breakpoint) {
  .container {
    max-width: 540px;
  }
}

@media (min-width: $sm-breakpoint) {
  .container {
    max-width: 920px;
  }
}

@media (min-width: $md-breakpoint) {
  .container {
    max-width: 1140px;
  }
}

@media (min-width: $lg-breakpoint) {
  .container {
    max-width: 1440px;
  }
}